apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aws-load-balancer-controller
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  project: platform
  source:
    repoURL: https://aws.github.io/eks-charts
    chart: aws-load-balancer-controller
    targetRevision: 1.11.0
    helm:
      releaseName: aws-load-balancer-controller
      values: |
        clusterName: REPLACE_WITH_TERRAFORM_CLUSTER_NAME
        region: REPLACE_WITH_TERRAFORM_AWS_REGION
        serviceAccount:
          create: true
          name: aws-load-balancer-controller
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
